<section class="container">
  <div class="card">
  <h3 class="post-title">{{post.title}}</h3>
  <h5 class="post-author">Author: {{post.author}}</h4>
  <section class="flex-row justify-center">
    {{post.body}}
  </section>
  
  </div>
</section>